.class-skills {
    margin: 10px 0 0 10px;
    vertical-align: top;
    overflow-y: scroll;
    border: 1px solid goldenrod;
    border-radius: 10px;
}

.class-skills h5 {
    border-bottom: 1px solid black;
}
