div.player-box {
    display: inline-block;
    padding: 10px;
    margin: 5px;
    border: 1px solid black;
}

.hero-card {
    margin-top: 10px;
}

.class-skills {
    display: inline-block;
    padding: 10px;
    vertical-align: top;
    overflow: scroll;
}